p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.content a {
  color: #111;
}

.content a:hover {
  color: #555;
}

pre {
  font-size: 0.75rem;
}

pre.sourceCode {
  font-size: 0.75rem;
}

pre.sourceCode, pre.r {
  font-size: 0.75rem;
}
